.watches-page{

    .watches-title{
        font-family: 'Dancing Script',cursive;
        margin: 20px 0;
    }
    .search-input{
        width:50%;
        display:block;
        margin:0 auto;
    }
}